!.gitignore
.directory
*~
*.log
*.pem
*.cert
*.key
*.gpg
*.tar
*.gz
*.bz2
*.xz
*.tgz
*.tbz2
*.txz
*.deb
*.whl
*.sublime-*

# Python related stuff.
*.pyc
*.egg-info
__pycache__

# Package building related folders.
/venv/
/chroot/
/archive/pyzenkit*
/build/
/dist/pyzenkit*
/doc/_build/
/doc/_doclib/apidoc/

